body {
  width: 300px;
  height: 600px;
} 

#tomato {
  color: #d50001;
}

#flamingo {
  color: #e67c73;
}

#tangerine {
  color: #f4511e;
}

#sage {
  color: #33b679;
}

#basil {
  color: #0a8043;
}

#peacock {
  color: #0a8043;
}

#blueberry {
  color: #4050b5;
}

#lavender {
  color: #7886cb;
}

#grape {
  color: #8e24aa;
}

#graphite {
  color: #616161;
}
